<h1> Add a Spooky, Fearsome, or Dangerous Monster </h1>

<% if @monster.errors.any? %>

  <div id="error_explanation">
    <h2>
      <%= pluralize(@monster.errors.count, "error") %>
        blocked this monster from being saved:
    </h2>

    <ul>
      <% @monster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <%end%>  
    </ul>
  </div>
<% end %>
  
<%= render 'form', monster: @monster %>